@import "react-image-gallery/styles/scss/image-gallery.scss";

/* Custom Variables */
:root {
    // Font
    --ff-primary: 'IBM Plex Sans', serif;
    
    // Font Weight
	--fw-light: 300;
    --fw-reg: 400;
	--fw-med: 600;
    --fw-bold: 700;
    
    // Colors
    --color-white: rgba(255, 255, 255, 1);
    --color-black: rgba(0, 0, 0, 1);
    --color-white-opacity1: rgba(255, 255, 255, 0.2);
    --color-white-opacity2: rgba(255, 255, 255, 0.4);
    --color-brown-opacity1: rgba(195, 144, 82, 0.95);
    --color-brown-opacity2: rgba(117, 79, 47, 0.95);
    --color-brown-opacity3: rgba(136, 91, 54, 0.95);
    --color-brown-opacity4: rgba(188, 150, 104, 0.95);
    --color-brown-opacity5: rgba(199, 162, 117, 0.95);
    --color-light-brown1: rgba(205, 164, 120, 1);
    --color-light-brown2: rgba(200, 167, 127, 1);
    --color-light-brown3: rgba(195, 154, 107, 1);
    --color-light-brown4: rgba(161, 127, 85, 1);
    --color-dark-brown1: rgba(101, 67, 30, 1);
    --color-dark-brown2: rgba(129, 93, 56, 1);
    --color-dark-brown3: rgba(53, 32, 12, 1);
    --color-dark-brown4: rgba(42, 27, 11, 1);
    --color-dark-brown5: rgba(164, 118, 73, 1);
    --color-dark-brown6: rgba(86, 53, 22, 1);

    // Font Size (small screen default)
    --fs-xxxxxl: 2.4rem;
	--fs-xxxxxl: 2.2rem;
    --fs-xxxxl: 1.8rem;
	--fs-xxl: 1.5rem;
    --fs-xl: 1.35rem;
    --fs-l: 1.2rem;
	--fs-ml: 1rem;
    --fs-m: 0.9rem;
    --fs-s: 0.8rem;
    --fs-xs: 0.7rem;
    --fs-xxs: 0.65rem;

    // Gradients (light mode)
	--gradient-light: linear-gradient(
	-45deg, 
	#ccb296, 
	#d0a679,
	#d0a679, 
	#b58a5b, 
	#bb835c, 
	#ac7e4b 
	);

    // Gradients (dark mode)
	--gradient-dark: linear-gradient(
	-45deg, 
	#624220, 
	#4b2c0b,
	#422608, 
	#361f08, 
	#321b0b, 
	#331406 
	);

    // Simple Gradient
	--simple-gradient-brown: linear-gradient(
	-45deg, 
	#a16f39, 
	rgb(122, 75, 25),
	#794712 
	);
}

// Font sizes for larger screens
@media (min-width: 800px) {
    :root {
        --fs-xxxxxl: 4rem;
		--fs-xxxxl: 3rem;
        --fs-xxl: 1.8rem;
        --fs-xl: 1.35rem;
        --fs-l: 1.2rem;
        --fs-ml: 1rem;
        --fs-s: 0.8rem;
        --fs-xs: 0.6rem;
        --fs-xxs: 0.5rem;
    }
}



/* General Styling */
* {
    box-sizing: border-box;
}

html, body {
    height: auto;
	width: 100%;
    margin: 0em;
    padding: 0em;
	overflow: auto;
}

body {
    font-family: var(--ff-primary);
    font-size: var(--fs-s);
    line-height: 1.8;
}

a {
	color: inherit;
	text-decoration: none;
}

.page-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
	width: 100%;
	max-width: 100%;
	padding-top: 4em;
}

.light-page {
	background: var(--gradient-light);
	color: var(--color-dark-brown1);
	background-size: 400% 400%;
	animation: gradient 15s ease-in-out infinite;
}

.dark-page {
	background: var(--gradient-dark);
	color: var(--color-light-brown4);
	background-size: 400% 400%;
	animation: gradient 15s ease-in-out infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.content {
	min-height: 100%;
}


/* NavBar */
.navbar {
	position: fixed;
    z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
    top: 0em;
    margin:	0em;
	padding-block: 1em;
}

.navbar-list {
    font-size: var(--fs-xxs);
	font-weight: var(--fw-med);
    border-radius: 50px;
	list-style: none;
    display: flex;
	margin: 0em;
	padding-inline: 0.2em;
	padding-block: 1em;
    gap: -0.2vw;
	transition: background 0.3s ease-in-out;
}

.navbar-list-active-dark {
	background: var(--color-dark-brown3);
}

.navbar-list-active-light {
	background: var(--color-brown-opacity1);
}

.navbar-list-link-dark, .navbar-list-link-light {
	padding: 0.5em 1em;
	border-radius: 50px;
	transition: background 0.6s ease-in-out;
}

.navbar-list-link-active-dark, .navbar-list-link-dark:hover {
    background: var(--color-brown-opacity3);
}

.navbar-list-link-active-light, .navbar-list-link-light:hover {
    background: var(--color-white-opacity1);
}

.toggler {
	display: flex;
	align-items: center;
	margin-left: 1em;
	opacity: 0.8;
}

.tog-sun, .tog-moon {
	font-size: 1em;
}

.tog-slider {
    display: flex;
    justify-content: flex-start;
	align-items: center;
	box-sizing: content-box;
    width: 20px;
	height: 10px;
	border-radius: 2rem;
	margin-inline: 0.4em;
    cursor: pointer;
}

.tog-circle {
    background-color: var(--color-light-brown1);
	height: 10px;
	width: 10px;
	border-radius: 50%;
}

.tog-symb-dark {
    color: var(--color-light-brown2);
}

.tog-symb-light {
	color: var(--color-dark-brown1);
}

.tog-slider-dark {
    border-color: var(--color-light-brown2);
    background-color: var(--color-light-brown2);
    justify-content: flex-end;
}

.tog-slider-light {
    border-color: var(--color-dark-brown1);
    background-color: var(--color-dark-brown1);
    justify-content: flex-start;
}

.tog-circle-dark {
    background-color: var(--color-dark-brown1);
}

.tog-circle-light {
    background-color: var(--color-light-brown1);
}

@media (min-width: 400px) {
    .navbar-list {
        padding-right: 0.4em;
        padding-left: 0.6em;
    }

    .tog-slider {
        width: 30px;
        height: 16px;
        margin-inline: 0.4em;
    }

    .tog-circle {
        height: 16px;
        width: 16px;
    }
}

@media (min-width: 600px) {
    .navbar-list {
        font-size: var(--fs-s);
        padding-right: 2em;
        padding-left: 1em;
        gap: 0.6vw;
    }
}

@media (min-width: 800px) {
	.toggler {
		margin-left: 2em;
	}
}

@media (min-width: 1100px) {
	.navbar-list {
		font-size: var(--fs-ml);
		gap: 1vw;
	}
}

@media (min-width: 1400px) {
	.navbar-list {
		font-size: var(--fs-l);
	}
}

/* Homepage */
.homepage {
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
	padding: 1em 2em;
	margin-top: 28vh;
	width: 100%;
	height: 100%;
}

.hidden {
	opacity: 0;
}

.homepage-title {
    display: block;
	font-size: var(--fs-xxxxxl);
	font-weight: var(--fw-bold);
	text-align: center;
	height: 5em;
	width: 6.5em;
	margin: auto;
}

.console-underscore {
	display: inline-block;
	position: relative;
	left: 10px;
}

.homepage-description {
    font-size: var(--fs-s);
	text-align: center;
	width: 24em;
	margin-top: 12vh;
	margin-bottom: 3em;
	padding-inline: 2em;
}

@media (min-width: 400px) {
	.homepage-title {
		width: 8em;
	}

	.homepage-description{
		width: 30em;
	}
}

@media (min-width: 600px) {
	.homepage-title {
		width: 12em;
	}

	.homepage-description {
        font-size: var(--fs-ml);
		width: 35em;
		margin-bottom: 6em;
	}
}

@media (min-width: 1000px) {
	.homepage-description{
		width: 50em;
	}
}

@media (min-width: 1200px) {
	.homepage-description{
		width: 60em;
	}
} 


/* About Page */
.about-page {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	padding: 1em 2em;
}

.about-title {
	font-size: var(--fs-xxxxl);
	font-weight: var(--fw-bold);
	text-align: center;
	margin-top: 2em;
	margin-bottom: 0em;
}

.about-subtitle {
	text-align: center;
	margin-bottom: 0.5em;
}

.about-container-1, .about-container-2, .about-container-3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    font-size: var(--fs-s);
	margin-block: 1em;
}

.about-container-1-text, .about-container-2-text, .about-container-3-text {
	width: 80vw;
}

.profile-image, .profile-cat-image {
	width: 20em;
	height: auto;
	padding: 0em;
	margin: 0em;
	transition: transform 0.6s ease-in-out, filter 0.6s ease-in-out;
}

.profile-image:hover, .profile-image:focus, .profile-cat-image:hover, .profile-cat-image:focus {
	transform: scale(1.05);
	filter: brightness(110%);
}

@media (min-width: 1200px) {
    .about-subtitle {
		width: 25em;
	}

    .about-container-1, .about-container-2, .about-container-3 {
        font-size: var(--fs-ml);
    }

	.about-container-1, .about-container-3 {
		display: grid;
		grid-template-areas: 
			"a b"
			"c d";
		width: 90vw;
	}

	.about-container-1-text, .about-container-3-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 52vw;
		margin-left: 4em;
		margin-right: 2em;
	}

    .about-container-2-text {
		width: 80vw;
	}

    .profile-image {
		grid-area: a;
		margin-left: 3em;
	}

	.profile-cat-image {
		grid-area: b;
		margin-right: 3em;
		margin-left: 2em;
	}
}

@media (min-width: 1400px) {
    .about-container-2-text {
		width: 75vw;
	}
}

@media (min-width: 1600px) {
    .about-container-1-text {
        width: 60vw;
    }

    .about-container-2-text {
		width: 80vw;
	}

	.about-container-3-text {
		width: 60vw;
	}
}

@media (min-width: 1800px) {
    .about-container-2-text {
		width: 78vw;
	}
}

.photography-gallery-title {
	font-size: var(--fs-xxl);
	font-weight: var(--fw-bold);
	text-align: center;
	margin-top: 3em;
	margin-bottom: 0;
}

.gallery-description {
	text-align: center;
	margin-block: 0em;
}

.gallery-section {
	display: grid;
	grid-template-columns: 1fr;
	margin-top: 1.5em;
	margin-bottom: 8em;
}

.travel-gallery, .food-gallery, .cat-gallery {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.travel-title, .food-title, .cat-title {
	font-size: var(--fs-s);
	font-weight: var(--fw-bold);
	text-align: center;
	margin-top: 1em;
	margin-bottom: 0.6em;
}

.travel-pics, .food-pics, .cat-pics {
	display: grid;
	grid-template-areas: 
			"a b c d e f";
	transition: transform 1s ease-in-out;
}

.travel-pics:hover, .travel-pics:focus, .food-pics:hover, .food-pics:focus, .cat-pics:hover, .cat-pics:focus {
	transform: scale(1.05);
}

.travel-image, .food-image, .cat-image {
    border-radius: 10px;
    line-height: 0;
	width: 4em;
	height: auto;
	padding: 0em;
	margin: 0em;
	overflow: hidden;
}

.travel-image1, .travel-image2, .travel-image3, .travel-image4, .travel-image5, .travel-image6,
.food-image1, .food-image2, .food-image3, .food-image4, .food-image5, .food-image6,
.cat-image1, .cat-image2, .cat-image3, .cat-image4, .cat-image5, .cat-image6 {
	line-height: 0;
    width: 4em;
	height: auto;
	padding: 0em;
	margin: 0em;
	cursor: pointer;
	transition: transform 0.6s ease-in-out;
}

.travel-image1:hover, .travel-image1:focus, .travel-image2:hover, .travel-image2:focus, .travel-image3:hover, .travel-image3:focus,
.travel-image4:hover, .travel-image4:focus, .travel-image5:hover, .travel-image5:focus, .travel-image6:hover, .travel-image6:focus,
.food-image1:hover, .food-image1:focus, .food-image2:hover, .food-image2:focus, .food-image3:hover, .food-image3:focus,
.food-image4:hover, .food-image4:focus, .food-image5:hover, .food-image5:focus, .food-image6:hover, .food-image6:focus,
.cat-image1:hover, .cat-image1:focus, .cat-image2:hover, .cat-image2:focus, .cat-image3:hover, .cat-image3:focus,
.cat-image4:hover, .cat-image4:focus, .cat-image5:hover, .cat-image5:focus, .cat-image6:hover, .cat-image6:focus {
	transform: scale(1.1);
	opacity: 0.8;
}

.refresh-icon {
	font-size: var(--fs-xs);
	padding-right: 0.5em;
}

.refresh-button {
	align-self: center;
    font-size: var(--fs-xs);
	color: var(--color-white);
	border-radius: 50px;
	border: none;
	padding-inline: 1.5em;
	padding-block: 0.8em;
	margin-top: 0.5em;
	margin-bottom: 0.2em;
    cursor: pointer;
}

@media (min-width: 400px) {
	.travel-image, .food-image, .cat-image {
		width: 5em;
	}

	.travel-image1, .travel-image2, .travel-image3, .travel-image4, .travel-image5, .travel-image6,
	.food-image1, .food-image2, .food-image3, .food-image4, .food-image5, .food-image6,
	.cat-image1, .cat-image2, .cat-image3, .cat-image4, .cat-image5, .cat-image6 {
		width: 5em;
	}
}

@media (min-width: 600px) {
	.travel-image, .food-image, .cat-image {
		width: 6em;
	}

	.travel-image1, .travel-image2, .travel-image3, .travel-image4, .travel-image5, .travel-image6,
	.food-image1, .food-image2, .food-image3, .food-image4, .food-image5, .food-image6,
	.cat-image1, .cat-image2, .cat-image3, .cat-image4, .cat-image5, .cat-image6 {
		width: 6em;
	}
}

@media (min-width: 800px) {
    .travel-title, .food-title, .cat-title {
        font-size: var(--fs-ml);
    }

	.travel-image, .food-image, .cat-image {
		width: 8em;
	}

	.travel-image1, .travel-image2, .travel-image3, .travel-image4, .travel-image5, .travel-image6,
	.food-image1, .food-image2, .food-image3, .food-image4, .food-image5, .food-image6,
	.cat-image1, .cat-image2, .cat-image3, .cat-image4, .cat-image5, .cat-image6 {
		width: 8em;
	}

    .refresh-icon {
		font-size: var(--fs-s);
	}

	.refresh-button {
		padding-block: 0.5em;
		font-size: var(--fs-s);
	}
}

@media (min-width: 1100px) {
	.gallery-section {
		grid-template-columns: repeat(3, 1fr);
		column-gap: 4em;
		margin-top: 1em;
	}

	.travel-pics, .food-pics, .cat-pics {
		display: grid;
		grid-template-areas: 
				"a b c"
				"d e f";
	}

	.travel-image, .food-image, .cat-image {
		width: 8em;
	}

	.travel-image1, .travel-image2, .travel-image3, .travel-image4, .travel-image5, .travel-image6,
	.food-image1, .food-image2, .food-image3, .food-image4, .food-image5, .food-image6,
	.cat-image1, .cat-image2, .cat-image3, .cat-image4, .cat-image5, .cat-image6 {
		width: 8em;
	}

    .refresh-button {
		padding-block: 1em;
		margin-top: 1em;
        font-size: var(--fs-ml);
	}
}

@media (min-width: 1300px) {
    .photography-gallery-title {
        font-size: var(--fs-xxl);
    }

    .gallery-description {
        font-size: var(--fs-ml);
    }

    .travel-title, .food-title, .cat-title {
        font-size: var(--fs-l);
    }

	.travel-image, .food-image, .cat-image {
		width: 10em;
	}

	.travel-image1, .travel-image2, .travel-image3, .travel-image4, .travel-image5, .travel-image6,
	.food-image1, .food-image2, .food-image3, .food-image4, .food-image5, .food-image6,
	.cat-image1, .cat-image2, .cat-image3, .cat-image4, .cat-image5, .cat-image6 {
		width: 10em;
	}
}

@media (min-width: 1600px) {
	.travel-image, .food-image, .cat-image {
		width: 12em;
	}

	.travel-image1, .travel-image2, .travel-image3, .travel-image4, .travel-image5, .travel-image6,
	.food-image1, .food-image2, .food-image3, .food-image4, .food-image5, .food-image6,
	.cat-image1, .cat-image2, .cat-image3, .cat-image4, .cat-image5, .cat-image6 {
		width: 12em;
	}
}

.full-image-container {
    position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
    top: 2%;
    bottom: 2%;
    left: 5%;
    right: 5%;
    z-index: 100;
}

.light-image-container {
	background: var(--color-dark-brown2);
    color: var(--color-white);
}

.dark-image-container {
	background: var(--color-dark-brown4);
	color: var(--color-light-brown3);
}

.full-image-title {
    text-align: center;
	font-size: var(--fs-ml);
	font-weight: var(--fw-med);
	max-width: 50vw;
	margin-block: 0.5em;
}

.full-image-photo {
    border-radius: 10px;
	width: 10em;
	height: 12em;
}

.close-icon {
	position: absolute;
	top: 1em;
	right: 1em;
	font-size: var(--fs-xxl);
	cursor: pointer;
	transition: transform 0.5s ease-in-out, color 0.5s ease-in-out;
}

.close-icon:hover, .close-icon:focus {
	transform: scale(1.3);
	color: var(--color-light-brown1);
}

@media (min-height: 400px) {
    .full-image-title {
		margin-block: 1em;
	}

	.full-image-photo {
		width: 17em;
		height: 22em;
	}
}

@media (min-height: 600px) {
    .full-image-title {
		font-size: var(--fs-l);
	}

	.full-image-photo {
		width: 24em;
		height: 32em;
	}
}

@media (min-height: 800px) {
	.full-image-photo {
		width: 30em;
		height: 40em;
	}
}

@media (min-width: 800px) {
	.full-image-photo {
		width: 33em;
		height: 44em;
	}
}

@media (min-width: 1200px) {
	.full-image-photo {
		width: 37em;
		height: 48em;
	}
}

@media (min-width: 1600px) {
    .full-image-title {
	    margin-top: 0.2em;
    }

	.full-image-photo {
		width: 41em;
		height: 52em;
	}
}


/* Projects & Experiences Nav & Containers */
.nav-light {
	background-color: var(--color-white-opacity2);
	transition: transform 0.6s ease-in-out;
}

.nav-dark {
	background-color: var(--color-brown-opacity4);
	color: var(--color-dark-brown3);
	transition: transform 0.6s ease-in-out;
}

.nav-light:hover, .nav-light:focus {
	transform: scale(1.02);
}

.nav-dark:hover, .nav-dark:focus {
	transform: scale(1.02);
}

.nav-link {
	font-size: var(--fs-xs);
	font-weight: var(--fw-med);
	padding: 1em;
	border-radius: 50px;  
    cursor: pointer;
    overflow: hidden;
	transition: 
		opacity 0.4s ease-in-out,
		transform 0.5s ease-in-out,
		color 0.5s ease-in-out,
		background-color 0.5s ease-in-out,
}

.nav-link:hover, .nav-link:focus {
    background-color: var(--color-brown-opacity5);
	color: var(--color-dark-brown3);
	transform: scale(1.05);
}

@media (min-width: 600px) {
	.nav-link {
        line-height: 0.8em;
		font-size: var(--fs-s);
	}
}

@media (min-width: 1100px) {
	.nav-link {
		font-size: var(--fs-ml);
	}
}

@media (min-width: 1400px) {
	.nav-link {
		font-size: var(--fs-l);
	}
}

.item-container-light {
	background-color: var(--color-white-opacity1);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 88vw;
	transition: transform 0.6s ease-in-out, background-color 0.6s ease-in-out;
}

.item-container-light:hover, .item-container-light:focus {
	background-color: var(--color-white-opacity2);
	transform: scale(1.02);
}

.item-container-dark {
	background-color: var(--color-dark-brown5);
	color: var(--color-dark-brown3);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 88vw;
	transition: transform 0.6s ease-in-out, background-color 0.6s ease-in-out;
}

.item-container-dark:hover, .item-container-dark:focus {
	background-color: var(--color-brown-opacity3);
	transform: scale(1.02);
}


/* Projects Page */
.projects-page {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
	padding: 1em 2em;
}

.projects-title {
	font-size: var(--fs-xxxxl);
	font-weight: var(--fw-bold);
	margin-top: 2em;
	margin-bottom: 0em;
}

.projects-subtitle {
	font-size: var(--fs-ml);
	font-weight: var(--fw-med);
	margin-top: 2em;
	margin-bottom: 1em;
	width: 70vw;
}

.projects-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    gap: 0em;
	margin-block: 0em;
	padding-block: 0em;
    padding-inline: 1em;
	border-radius: 50px;
}

.projects-nav-link {
	padding: 0.5em 1em 0.5em 1em;
    line-height: 1.2em;
}

.project-active {
	background: var(--color-brown-opacity5);
	border-radius: 50px;
	padding: 0.5em 1em 0.5em 1em;
	cursor: pointer;
	overflow: hidden;  
	transition: 
		background-color 0.6s ease-in-out,
		transform 0.6s ease-in-out,
		border-radius 0.6s ease-in-out;
}

.project-active:hover,
.project-active:focus {
	background-color: var(--color-brown-opacity5);
	transform: scale(1.02);
}

.project-container {
	padding: 2em 2em;
	margin-block: 2em;
	cursor: pointer;
}

.project-text {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
    text-align: center;
	width: 75vw;
	height: 100%;
	margin-block: 1em;
}

.project-title {
	font-size: var(--fs-xxl);
	font-weight: var(--fw-med);
	margin-top: 0;
	margin-bottom: -0.5em;
	padding: 0;
}

.project-type {
	font-size: var(--fs-ml);
	font-weight: var(--fw-med);
	margin-bottom: 0.5em;
}

.project-description {
	margin: 0.5em 1em 2em 1em;
}

.project-languages, .project-additional-info1, .project-additional-info2, .project-github, .project-link, .devpost-link {
    font-size: var(--fs-xs);
    margin: 0.2em;
}

.project-languages, .project-additional-info2 {
	margin-bottom: 1em;
}

.github-active-link, .project-active-link {
	border-radius: 50px;
	border: none;
	padding: 0.2em 0.4em;
	margin-top: 1em;
	cursor: pointer;
	transition: opacity 0.6s ease-in-out;
}

.project-active-link:hover, .project-active-link:focus,
.github-active-link:hover, .github-active-link:focus {
	opacity: 0.8;
}

.light-link {
	background: var(--color-light-brown3);
}

.dark-link{
	background-color: var(--color-dark-brown6);
	color: var(--color-light-brown4);
}

.gallery {
	width: 16em;
	padding: 0;
	margin-block: 2em;
	transition: transform 0.5s ease-in-out;
}

.gallery:hover, .gallery:focus {
	transform: scale(1.05);
}

@media (min-width: 400px) {
	.projects-subtitle {
		font-size: var(--fs-l);
		font-weight: var(--fw-bold);
	}

    .projects-nav {
		gap: 1em;
	}

	.project-languages, .project-additional-info1, .project-additional-info2 {
		font-size: var(--fs-s);
	}

    .gallery {
		width: 20em;
	}

	.gallery:hover, .gallery:focus {
		transform: scale(1.1);
	}
}

@media (min-width: 600px) {
	.projects-subtitle {
		font-size: var(--fs-xxl);
	}
	
	.gallery {
		width: 25em;
	}
}

@media (min-width: 1000px) {
	.project-description, .project-languages, .project-additional-info1, .project-additional-info2, .project-github, .project-link, .devpost-link {
		font-size: var(--fs-m);
	}
}

@media (min-width: 1300px) {
	.project-container {
		display: grid;
		grid-template-areas: 
			"a b"
			"c d";
		width: 90vw;
	}

    .project-title {
		width: 18em;
		align-self: center;
		justify-self: center;
	}

	.project-text, .project-container-link {
		width: 50vw;
		margin-inline: 3em;
	}

    .gallery {
		grid-area: a;
		margin-inline: 2em;
        width: 30em;
	}
}

@media (min-width: 1500px) {
    .project-title {
		margin-top: 0.5em;
	}

	.project-text, .project-container-link {
		width: 45vw;
		margin-left: 5em;
	}

	.gallery {
		width: 40em;
	}
}

.image-gallery-left-nav,
.image-gallery-right-nav {

  .image-gallery-svg {
    height: 60px !important;
    width: 30px !important;
  }

  @media (max-width: $ig-small-screen) {
    .image-gallery-svg {
      height: 40px !important;
      width: 13px !important;
    }
  }

  @media (max-width: $ig-xsmall-screen) {
    .image-gallery-svg {
      height: 24px !important;
      width: 12px !important;
    }
  }
}


/* Experiences Page */
.experiences-page {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	padding: 1em 2em;
}

.experiences-title {
	font-size: var(--fs-xxxxl);
	font-weight: var(--fw-bold);
	text-align: center;
	margin-top: 2em;
	margin-bottom: 0.5em;
}

.experiences-nav {
	display: flex;
	justify-content: space-between;
	gap: 0em;
	align-items: center;
	text-align: center;
	margin-block: 0em;
	padding-block: 0em;
	padding-inline: 1em;
	border-radius: 50px;
}

.experiences-nav-link {
    line-height: 1.4em;
	padding: 0.5em 1em 0.5em 1em;
}

.experiences-container {
	padding: 2em 3em;
	margin-block: 2em 4em;
	margin-inline: -0.2em;
}

.experience-container {
	margin: 0em 0em 1em 0em;
}

.experience-text {
	width: 75vw;
}

.experience-subtitle {
	font-size: var(--fs-s);
	font-weight: var(--fw-med);
	margin: 0em 0em 0em 0em;
}

.experience-location {
	font-style: italic;
	margin: 0em;
	padding: 0em;
}

.experience-date {
	margin: 0em 0em -0.2em 0em;
	padding: 0em;
}

.separator-line1 {
	border: 1px solid var(--color-dark-brown1);
	border-radius: 50px;
	width: 95%;
	margin: 0em 0em 3em 0em;
	padding: 0em;
}

.separator-line2 {
	border: 1px solid var(--color-dark-brown1);
	border-radius: 50px;
	width: 100%;
	margin: 2em 0em 1.5em 0em;
	padding: 0em;
}

.resume {
	padding-bottom: 3em;
}

.resume-title {
	font-size: var(--fs-xxl);
	font-weight: var(--fw-med);
	margin: 0em 0em 0.5em 0em;
}

.resume-text {
	font-size: var(--fs-ml);
	text-decoration: underline;
}

.technical-skills-title {
	font-size: var(--fs-xxl);
	font-weight: var(--fw-med);
	margin: 0em 0em 1em 0em;
}

.skills-icon {
	font-size: var(--fs-xxl);
	margin-left: 0.5em;
}

.skills-text {
	display: grid;
	grid-template-areas: 
		"a b"
		"c d"
		"e f"
		"g h"
        "i j";
    grid-template-columns: repeat(2, 1fr);
	grid-row-gap: 0.5em;
	grid-column-gap: 1em;
	width: 100%;
}

.skills-languages {
	grid-area: a;
}

.skills-development {
	grid-area: b;
}

.skills-frontend {
	grid-area: c;
}

.skills-practices {
	grid-area: d;
}

.skills-back-end {
	grid-area: e;
}

.skills-ci-cd {
	grid-area: f;
}

.skills-mobile {
	grid-area: g;
}

.skills-design {
	grid-area: h;
}

.skills-storage {
	grid-area: i;
}

.skills-cloud {
	grid-area: j;
}

.skills-category-title {
    font-size: var(--fs-ml);
    margin: 0em;
}

.skills-category-items {
	margin: 0em 0em 0.5em 0em;
}

.work {
	margin-bottom: 2em;
}

.work-title {
	font-size: var(--fs-xxl);
	font-weight: var(--fw-med);
	margin: 0em 0em 1em 0em;
}

.work-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 88vw;
  padding: 0em 2em;
  margin-bottom: 2em;
}

.work-image {
  border-radius: 10px;
  width: 20em;
  padding: 0;
  margin-block: 2em;
  transition: transform 0.5s ease-in-out;
}

.work-image:hover, .work-image:focus {
  transform: scale(1.05);
}

.work-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80vw;
  height: 100%;
}

.work-subtitle {
  font-size: var(--fs-ml);
  font-weight: var(--fw-med);
  text-align: center;
  width: 70%;
  margin-top: 0em;
  margin-bottom: 1em;
  padding: 0em;
}

.work-location {
  font-size: var(--fs-s);
  text-align: center;
  margin-bottom: -1em;
}

.work-date {
  font-size: var(--fs-s);
  text-align: center;
  margin-bottom: 1em;
}

.work-description {
  text-align: left;
  margin: 0.5em 1em 2em 1em;
}

.work-languages, .work-tools1, .work-tools2 {
  font-size: var(--fs-s);
  text-align: center;
  margin: 0.2em;
}

.education {
	margin-bottom: 2em;
}

.education-text {
	width: 75vw;
}

.education-title {
	font-size: var(--fs-xxl);
	font-weight: var(--fw-med);
	margin: 0em 0em 1em 0em;
}

.education-university-title {
	margin-bottom: 1.5em;
}

.education-university-name {
	font-size: var(--fs-ml);
	font-weight: var(--fw-bold);
	margin: 0em;
	padding: 0em;
}

.education-university-location {
	font-size: var(--fs-s);
	margin: 0em;
	padding: 0em;
}

.location-icon {
	font-size: var(--fs-s);
	margin-right: 0.5em;
}

.education-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0em;
    padding: 0em;
    gap: 2em;
}

.education-description {
    margin: 0em;
    padding: 0em;
}

.education-subtitle {
    font-size: var(--fs-ml);
	font-weight: var(--fw-med);
	line-height: 1.6rem;
    margin: 0.5em 0em -0.8em 0em;
    padding: 0em;
}

.education-info {
    margin: 0em 0em 0em -1em;
    padding: 0em;
}

.education-date {
    text-align: right;
    align-self: center;
    min-width: 6em;
    margin: 0em 0em 0em 1em;
    padding: 0em;
}

.awards {
	padding-bottom: 3em;
	margin-bottom: 2em;
}

.awards-title {
	font-size: var(--fs-xxl);
	font-weight: var(--fw-med);
	margin: 0em 0em 1em 0em;
}

.awards-container {
    display: flex;
    align-items: start;
    gap: 0.2em; 
    margin: 0em 0em 0.5em 0em;
    padding: 0em;
}

.awards-text {
	text-align: left; 
    width: 50vw;
    margin: 0em;
    padding: 0em;
}

.awards-subtitle {
    font-size: var(--fs-ml);
    font-weight: var(--fw-med);
    line-height: 1.6rem;
    margin: 0.5em 0em 0em 0em;
    padding: 0em;
}

.awards-description {
    margin: 0em;
    padding-left: 2em;
}

.awards-date {
    align-self: center; 
    text-align: right;
    min-width: 8em;
    margin: 0em;
}

.healthcare {
	margin-bottom: 4em;
}

.healthcare-title {
	text-align: center;
	font-size: var(--fs-xxl);
	font-weight: var(--fw-med);
    width: 130%;
	margin: 0em 0em 1em 0em;
}

.health-icon {
    font-size: var(--fs-l);
	margin-left: 0.4em !important;
}

.research {
	margin-bottom: 4em;
}

.research-title {
	text-align: center;
	font-size: var(--fs-xxl);
	font-weight: var(--fw-med);
    width: 130%;
	margin: 0em 0em 1em 0em;
}

@media (min-width: 400px) {
    .experiences-container {
		margin-bottom: 2em;
	}

    .experience-subtitle {
		font-size: var(--fs-ml);
	}

    .work-subtitle {
        font-size: var(--fs-ml);
    }

    .work-image {
        width: 25em;
    }

    .awards-text {
		width: 52vw;
	}

    .research {
		margin-bottom: 2.5em;
	}

    .research-title {
		width: 100%;
	}

    .healthcare {
		margin-bottom: 2.5em;
	}

    .healthcare-title {
		width: 100%;
	}

    .health-icon {
		font-size: var(--fs-xxl);
	}
}

@media (min-width: 600px) {
    .experience-text {
		width: 80vw;
	}

    .work-subtitle {
        font-size: var(--fs-ml);
        margin-bottom: 0em;
        width: 80%;
    }

    .work-image {
        width: 30em;
    }

    .education-text {
		width: 80vw;
	}

    .awards-text {
		width: 56vw;
	}
}

@media (min-width: 1000px) {
    .work-subtitle {
        font-size: var(--fs-l);
        width: 90%
    }

    .work-image {
        width: 35em;
    }

    .work-location, .work-date, .work-description, .work-languages, .work-tools1, .work-tools2 {
        font-size: var(--fs-ml);
    }

    .awards-text {
		width: 65vw;
	}
}

@media (min-width: 1200px) {
    .experience-subtitle {
        font-size: var(--fs-l);
    }
    .experience-location, .experience-date, .experience-text {
        font-size: var(--fs-ml);
    }

	.skills-category-title {
        font-size: var(--fs-l);
    }
    
    .skills-text {
		grid-column-gap: 3em;
        font-size: var(--fs-ml);
	}

    .education-university-name {
        font-size: var(--fs-xl);
    }

     .education-subtitle {
        font-size: var(--fs-l);
    }

	.education-text, .location-icon, .education-university-location {
		font-size: var(--fs-ml);
	}

    .awards-subtitle {
        font-size: var(--fs-l);
    }

    .awards-text, .awards-description, .awards-date {
        font-size: var(--fs-ml);
    }

    .awards-text {
		width: 73vw;
	}
}

@media (min-width: 1300px) {
    .work-container {
        display: grid;
        grid-template-areas:
            "a b";
        width: 90vw;
    }

    .work-image {
        grid-area: a;
        margin-left: 4em;
        margin-right: 0em;
        width: 35em;
    }

    .work-text {
        grid-area: b;
        width: 50vw;
        margin-left: 0em;
        margin-right: 3em;
    }
}

@media (min-width: 1500px) {
    .work-text {
        width: 45vw;
        margin-left: 5em;
    }

    .work-image {
        width: 40em;
    }
}

@media (min-width: 1600px) {
	.skills-text {
		grid-template-areas: 
		"a c b d h"
		"e g i f j";
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 0.5em;
	}
}

@media (min-width: 1700px) {
    .work-image {
        width: 50em;
    }
}


/* Digital Art Page */
.art-page {
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
	padding: 0em 2em;
	margin: 0em;
}

.art-title {
	font-size: var(--fs-xxxxl);
	font-weight: var(--fw-bold);
	text-align: center;
	margin-top: 2em;
	margin-bottom: 0.5em;
}

.art-description {
	font-size: var(--fs-l);
	font-weight: var(--fw-bold);
	text-align: center;
	margin-bottom: 0em;
}

.art-gallery {
	display: grid;
	grid-template-columns: 1fr;
    border-radius: 20px;
    width: 88vw;
	padding: 2em 1em;
	margin-block: 2em;
}

.art-light {
	background-color: var(--color-white-opacity1);
	transition: transform 0.6s ease-in-out, background-color 0.6s ease-in-out;
}

.art-light:hover, .art-light:focus {
	background-color: var(--color-white-opacity2);
	transform: scale(1.01);
}

.art-dark {
	background-color: var(--color-dark-brown5);
	color: var(--color-dark-brown3);
	transition: transform 0.6s ease-in-out, background-color 0.6s ease-in-out;
}


.art-dark:hover, .art-dark:focus {
	background-color: var(--color-brown-opacity3);
	transform: scale(1.01);
}

.art-container {
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
}

.art-image-title {
    font-size: var(--fs-ml);
    font-weight: var(--fw-bold);
    margin-top: 2em;
    margin-bottom: 0.8em;
}

.art-image {
	width: 60vw;
	margin-bottom: 2em;
    cursor: pointer;
	transition: transform 0.5s ease-in-out;
}

.art-image:hover, .art-image:focus {
	transform: scale(1.02);
}

@media (min-width: 800px) {
    .art-description {
		font-size: var(--fs-xxl);
	}

	.art-gallery {
		grid-template-columns: repeat(2, 1fr);
		gap: 0em;
	}

    .art-light, .art-dark {
        padding: 2em 4em; 
    }

    .art-image-title {
		font-size: var(--fs-ml);
	}

	.art-image {
		width: 30vw;
	}
}

@media (min-width: 1200px) {
  .art-light, .art-dark {
    padding: 2em 6em; 
  }
}

@media (min-width: 1400px) {
	.art-image-title {
		font-size: var(--fs-xxl);
	}
}

.full-image-art {
	height: 20em;
}

@media (min-width: 600px) {
	.full-image-art {
		height: 30em;
	}
}

@media (min-width: 800px) {
	.full-image-art {
		height: 34em;
	}
}

@media (min-width: 1000px) {
	.full-image-art {
		height: 38em;
	}
}

@media (min-width: 1200px) {
	.full-image-art {
		height: 42em;
	}
}

@media (min-width: 1400px) {
	.full-image-art {
		height: 45em;
	}
}

@media (min-width: 1600px) {
	.full-image-art {
		height: 50em;
	}
}


/* Contact Page */
.contact-page {
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
	padding: 0em 2em;
	margin: 0em;
}

.contact-title {
	font-size: var(--fs-xxxxl);
	font-weight: var(--fw-bold);
	text-align: center;
	margin-top: 2em;
	margin-bottom: 0em;
}

.contact-description {
    font-size: var(--fs-s);
	text-align: center;
	width: 30em;
	margin-bottom: 3em;
	padding-inline: 2em;
}

.contact-image-button-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 0em;
}

.contact-image {
	width: 20em;
	height: auto;
	margin-left: 2em;
	margin-bottom: 2em;
	transition: transform 0.5s ease-in-out;
}

.contact-image:hover, .contact-image:focus {
	transform: scale(1.05);
}

.contact-buttons {
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding-bottom: 2em;
	width: 24em;
}

.contact-button {
    text-align: left;
	text-decoration: none;
	border-radius: 50px;
	border: none;
	padding: 1em 1.5em;
	transition: background 0.5s ease-in-out, box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.light-button {
	background-color: var(--color-light-brown2);
	color: var(--color-dark-brown1);
}

.dark-button {
	background-color: var(--color-dark-brown2);
	color: var(--color-dark-brown3);
}

.light-button:hover, .light-button:focus {
	background-color: var(--color-white-opacity2);
	box-shadow: var(--color-brown-opacity1) 0px 5px 15px 0px;
	transform: scale(1.05);
}

.dark-button:hover, .dark-button:focus {
	background-color: var(--color-brown-opacity3);
	box-shadow: var(--color-dark-brown4) 0px 10px 15px 0px;
	transform: scale(1.05);
}

.contact-icon {
	font-size: var(--fs-l);
	margin-right: 0.3em;
}

.head-contact-label {
	font-size: var(--fs-s);
	font-weight: var(--fw-med);
}

.sm-contact-label {
	font-size: var(--fs-s);
	font-weight: var(--fw-thin);
}

.contact-form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 2em;
}

.contact-form-title {
	font-size: var(--fs-l);
	margin-top: 0em;
	margin-bottom: 0.4em;
}

.contact-line {
	border: 1.5px solid var(--color-dark-brown1);
	border-radius: 50px;
	width: 15em;
	margin-bottom: 0em;
}

.contact-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    gap: 0.1em;
}

.contact-form-input-container {
	display: flex;
	flex-direction: column;
	gap: 0.2em;
	width: 24em;
}

.contact-form-label {
	font-size: var(--fs-s);
	font-weight: var(--fw-med);
    text-align: left;
	margin-top: 1em;
}

.contact-form-input {
	border: none;
	border-radius: 10px;
	padding: 1em;
}

.textarea {
	height: 10em;
}

.contact-form-button {
	background: var(--simple-gradient-brown);
	color: var(--color-white);
	border-radius: 50px;
	border: none;
	padding: 1em 1.5em;
	margin-top: 2em;
	margin-bottom: 3em;
    cursor: pointer;
	transition: transform 0.3s ease-in-out , box-shadow 0.3s ease-in-out;
}

.contact-form-button:hover, .contact-form-button:focus {
	transform: scale(1.05);
	box-shadow: var(--color-dark-brown3) 0px 5px 10px 1px;
}

.arrow-icon {
	font-size: var(--fs-l);
	margin-left: 0.8em;
}

@media (min-width: 400px) {
	.contact-buttons {
		width: 28em;
	}

    .contact-icon {
		font-size: var(--fs-xl);
		margin-right: 0.5em;
	}

    .contact-form-input-container {
		width: 30em;
	}
}

@media (min-width: 600px) {
    .contact-description{
        font-size: var(--fs-ml);
		width: 38em;
	}

	.contact-image {
		width: 30em;
	}
}

@media (min-width: 800px) {
	.contact-buttons {
		width: 34em;
	}

    .contact-line {
		width: 30em;
	}

    .contact-form-input-container {
		width: 40em;
	}

    .head-contact-label, .contact-form-label, .contact-form-input, .contact-form-button  {
		font-size: var(--fs-l);
	}
}


@media (min-width: 1000px) {
	.contact-description{
		width: 54em;
	}
} 

@media (min-width: 1200px) {
	.contact-image-button-container {
		display: grid;
		grid-template-areas: 
            "a b";
		grid-template-columns: 1fr 1fr;
		gap: 2em;
		margin-bottom: 0em;
	}

	.contact-image {
		grid-area: b;
	}
} 

@media (min-width: 1400px) {
    .contact-line {
		width: 50em;
	}

    .contact-form-input-container {
		width: 50em;
	}
}


/* Error Page */
.error-page {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	padding: 1em 2em;
}

.error-title {
	font-size: var(--fs-xxxxl);
	font-weight: var(--fw-bold);
	text-align: center;
	margin-top: 2em;
	margin-bottom: 0em;
}


/* Footer*/
.footer {
	align-self: stretch;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--color-light-brown1);
    width: 100vw;
	padding: 0em;
}

.footer-dark {
	background-color: var(--color-dark-brown3);
	color: var(--color-light-brown4);
}

.footer-light {
	background-color: var(--color-light-brown1);
	color: var(--color-dark-brown1);
}

.copyright {
	font-size: var(--fs-s);
	letter-spacing: 0.1em;
}

.icons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2.5em;
	padding-bottom: 1em;
}

.icon-link {
	color: inherit !important;
}

.icon {
	font-size: var(--fs-xl);
}

.icon-link:focus, .icon:hover, .icon:focus {
	opacity: 0.7;
}



