/* Custom Variables */

:root {
    --ff-primary: 'IBM Plex Sans', serif;
    
	--fw-light: 300;
    --fw-reg: 400;
	--fw-med: 600;
    --fw-bold: 700;
    
	--color-white: #fff;
	--color-white-opacity: rgba(255, 255, 255, 0.2);
	--color-brown-opacity: rgba(203, 154, 94, 0.95);
    --color-light-brown1: #cda478;
	--color-light-brown2: #ac8f6f;
    --color-dark-brown1: #65431e;
	--color-dark-brown2: #644c32;
    
    --fs-xxl: 5rem;
	--fs-xl: 3rem;
    --fs-l: 2.25rem;
    --fs-m: 1.2rem;
    --fs-s: 1rem;

	--gradient-light: linear-gradient(
	-45deg, 
	#ccb296, 
	#d0a679,
	#d0a679, 
	#b58a5b, 
	#bb835c, 
	#ac7e4b 
	);

	--gradient-dark: linear-gradient(
	-45deg, 
	#624220, 
	#4a2f12,
	#422608, 
	#361f08, 
	#321b0b, 
	#331406 
	);
}

@media (min-width: 800px) {
    :root {
		--fs-xxl: 7rem;
        --fs-xl: 4.5rem;
        --fs-l: 3.75rem;
        --fs-m: 1.4rem;
        --fs-s: 1.125rem;
    }
}


/* General Styling */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--ff-primary);
    font-size: var(--fs-m);
    line-height: 1.6;
	color: var(--color-dark-brown1);
	background: var(--gradient-light);
	background-size: 400% 400%;
	animation: gradient 10s ease-in-out infinite;
	height: 100vh;
	width: 100vw;
	margin: 0;
	overflow: scroll;
	scroll-behavior: smooth;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.page-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}


/* NavBar */

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	margin:	0;
}

.navbar-list {
    font-size: var(--fs-m);
	font-weight: var(--fw-med);
	list-style: none;
    display: flex;
	align-items: center;
	gap: 0.6vw;
	margin: 0;
	padding-right: 1em;
	padding-left: 1em;
	padding-block: 1em;
	border-radius: 50px;
	transition: background 0.3s ease-in-out;
}

.navbar-list-active {
	background: var(--color-brown-opacity);
}

.navbar-list-link {
	color: inherit;
	text-decoration: none;
	padding: 0.5em 1em;
	border-radius: 50px;
	transition: background 0.8s ease-in-out;
}

.navbar-list-link:hover, .navbar-list-link:focus, .nav-active {
    background: var(--color-white-opacity);
}



/* Content */
.content {
	flex-grow: 1;
}

.contect-page {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.contact-title {
	font-size: var(--fs-xxl);
	font-weight: var(--fw-bold);
	color: var(--color-dark-brown1);
	text-align: center;
	margin-top: 1.5em;
	margin-bottom: 0;
}

.contact-description {
	max-width: 45vw;
	text-align: center;
	margin-bottom: 1em;
}

.contact-image {
	width: 25em;
	height: auto;
}

/* Footer*/

.footer {
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	background-color: var(--color-light-brown1);
}

.icons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2.5em;
	padding-bottom: 1em;
}

.copyright {
	font-size: var(--fs-s);
	letter-spacing: 0.1em;
}

.icon-link {
	color: inherit !important;
}

.icon {
	font-size: 1.5rem;
}

.icon:hover, .icon:focus {
	opacity: 0.7;
}