/* Custom Variables */
:root {
    --ff-primary: 'IBM Plex Sans', serif;
    
	--fw-light: 300;
    --fw-reg: 400;
	--fw-med: 600;
    --fw-bold: 700;
    
	--color-white: #fff;
	--color-white-opacity1: rgba(255, 255, 255, 0.2);
	--color-white-opacity2: rgba(255, 255, 255, 0.4);
	--color-brown-opacity: rgba(195, 144, 82, 0.95);
    --color-light-brown1: #cda478;
	--color-light-brown2: rgb(200, 167, 127);
    --color-dark-brown1: #65431e;
	--color-dark-brown2: #644c32;
    
    --fs-xxl: 5rem;
	--fs-xl: 3rem;
    --fs-l: 2.25rem;
    --fs-m: 1.2rem;
    --fs-s: 1rem;

	--gradient-light: linear-gradient(
	-45deg, 
	#ccb296, 
	#d0a679,
	#d0a679, 
	#b58a5b, 
	#bb835c, 
	#ac7e4b 
	);

	--gradient-dark: linear-gradient(
	-45deg, 
	#624220, 
	#4b2c0b,
	#422608, 
	#361f08, 
	#321b0b, 
	#331406 
	);
}

@media (min-width: 800px) {
    :root {
		--fs-xxl: 7rem;
        --fs-xl: 4.5rem;
        --fs-l: 3.75rem;
        --fs-m: 1.4rem;
        --fs-s: 1.125rem;
    }
}


/* General Styling */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--ff-primary);
    font-size: var(--fs-m);
    line-height: 1.6;
	color: var(--color-dark-brown1);
	background: var(--gradient-light);
	background-size: 400% 400%;
	animation: gradient 10s ease-in-out infinite;
	height: 100vh;
	width: 100vw;
	margin: 0;
	overflow: scroll;
	scroll-behavior: smooth;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.page-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}


/* NavBar */
.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	margin:	0;
}

.navbar-list {
    font-size: var(--fs-m);
	font-weight: var(--fw-med);
	list-style: none;
    display: flex;
	align-items: center;
	gap: 0.6vw;
	margin: 0;
	padding-right: 1em;
	padding-left: 1em;
	padding-block: 1em;
	border-radius: 50px;
	transition: background 0.3s ease-in-out;
}

.navbar-list-active {
	background: var(--color-brown-opacity);
}

.navbar-list-link {
	color: inherit;
	text-decoration: none;
	padding: 0.5em 1em;
	border-radius: 50px;
	transition: background 0.6s ease-in-out;
}

.navbar-list-link:hover, .navbar-list-link:focus, .nav-active {
    background: var(--color-white-opacity1);
}


/* Content */
.content {
	flex-grow: 1;
}

/* Homepage */
.homepage {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	padding: 1em 2em;
	margin-top: 10em;
	width: 100%;
	height: 100%;
}

.hidden {
	opacity: 0;
}

.homepage-title {
	font-size: var(--fs-xxl);
	font-weight: var(--fw-bold);
	text-align: center;
	margin-bottom: 0;
	height:200px;
	width: 900px;
	display: block;
	color: var(--color-dark-brown1);
	margin: auto;
}

.console-underscore {
	display:inline-block;
	position:relative;
	top:-0.14em;
	left:10px;
}

.homepage-description {
	text-align: center;
	width: 550px;
	margin-top: 10em;
	margin-bottom: 2em;
	padding-left: 2em;
	padding-right: 2em;
}

@media (min-width: 800px) {
	.homepage-description{
		width: 900px;
	}
} 


/* About Page */
.about-page {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	padding: 1em 2em;
}

.about-title {
	font-size: var(--fs-xxl);
	font-weight: var(--fw-bold);
	text-align: center;
	margin-top: 1.5em;
	margin-bottom: 0;
}

.about-description {
	text-align: center;
	width: 550px;
	margin-bottom: 2em;
	padding-left: 2em;
	padding-right: 2em;
}

@media (min-width: 800px) {
	.about-description{
		width: 900px;
	}
} 

/* Projects Page */
.projects-page {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	padding: 1em 2em;
}

.projects-title {
	font-size: var(--fs-xxl);
	font-weight: var(--fw-bold);
	text-align: center;
	margin-top: 1.5em;
	margin-bottom: 0;
}

.projects-description {
	text-align: center;
	width: 550px;
	margin-bottom: 2em;
	padding-left: 2em;
	padding-right: 2em;
}

@media (min-width: 800px) {
	.projects-description{
		width: 900px;
	}
} 


/* Experiences Page */
.experiences-page {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	padding: 1em 2em;
}

.experiences-title {
	font-size: var(--fs-xxl);
	font-weight: var(--fw-bold);
	text-align: center;
	margin-top: 1.5em;
	margin-bottom: 0;
}

.experiences-description {
	text-align: center;
	width: 550px;
	margin-bottom: 2em;
	padding-left: 2em;
	padding-right: 2em;
}

@media (min-width: 800px) {
	.experiences-description{
		width: 900px;
	}
} 


/* Contact Page */
.contact-page {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	padding: 1em 2em;
}

.contact-title {
	font-size: var(--fs-xxl);
	font-weight: var(--fw-bold);
	text-align: center;
	margin-top: 1.5em;
	margin-bottom: 0;
}

.contact-description {
	text-align: center;
	width: 550px;
	margin-bottom: 3em;
	padding-left: 2em;
	padding-right: 2em;
}

@media (min-width: 800px) {
	.contact-description{
		width: 900px;
	}
} 

.contact-image-button-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact-image {
	width: 25em;
	height: auto;
	margin-bottom: 2em;
}

.contact-buttons {
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding-bottom: 2em;
	min-width: 600px;
}

.contact-button {
	background-color: var(--color-light-brown2);
	color: var(--color-dark-brown1);
	text-decoration: none;
	border-radius: 50px;
	border: none;
	padding: 1em 1.5em;
	text-align: left;
	transition: background 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.contact-button:hover, .contact-button:focus {
	background-color: var(--color-white-opacity2);
	box-shadow: var(--color-brown-opacity) 0px 5px 15px 0px;
}

.contact-icon {
	font-size: 1.5rem;
	margin-right: 0.5em;
}

.sm-contact-label {
	font-size: var(--fs-s);
	font-weight: var(--fw-thin);
}

@media (min-width: 1200px) {
	.contact-image-button-container {
		display: grid;
		grid-template-areas: 
            "a b";
		grid-template-columns: 1fr 1fr;
		gap: 2em;
		margin-bottom: 2em;
	}

	.contact-image {
		grid-area: b;
	}

} 


/* Error Page */
.error-page {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	padding: 1em 2em;
}

.error-title {
	font-size: var(--fs-xxl);
	font-weight: var(--fw-bold);
	text-align: center;
	margin-top: 2em;
	margin-bottom: 0;
}


/* Footer*/
.footer {
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	background-color: var(--color-light-brown1);
}

.icons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2.5em;
	padding-bottom: 1em;
}

.copyright {
	font-size: var(--fs-s);
	letter-spacing: 0.1em;
}

.icon-link {
	color: inherit !important;
}

.icon {
	font-size: 1.5rem;
}

.icon:hover, .icon:focus {
	opacity: 0.7;
}



